<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h3>Search</h3>
            <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -15px; " />  
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Search by Location</label>
                    <select class="form-control input-sm">
                        <option *ngFor="let x of locations" [value]="x.LocationID"> {{x.LocationDescr}} </option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        <input type="radio" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="0"/>&nbsp;Search by Associate(s)
                    </label>
                    <!--<select class="form-control input-sm"></select>-->
                    <ng-select  [multiple]="true"
                    
                        [active]="yourVariableName"
                        [allowClear]="true"
                        [items]="items"
                        [disabled]="radioSelect!=0"
                        (data)="refreshValue($event)"
                        
                        placeholder="No Associate selected">
                    </ng-select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        <input type="radio" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="1"/>&nbsp;Search by Skillset(s)
                    </label>
                    <ng-select  [multiple]="true"
                        [allowClear]="true"
                        [active]="yourVariableName"
                        [items]="items"
                        [disabled]="radioSelect!=1"
                        (data)="refreshValue($event)"
                        
                        placeholder="No Skills selected">
                    </ng-select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">
                        <input type="radio" [(ngModel)]="radioSelect" (change)="yourVariableName=[]; getItems();" name="search_rdb" [value]="2"/>&nbsp;Search by Department(s)
                    </label>
                    <ng-select  [multiple]="true"
                    [allowClear]="true"
                        [items]="items"
                        [disabled]="radioSelect!=2"
                        [active]="yourVariableName"
                        (data)="refreshValue($event)"
                        
                        placeholder="No Departments selected">
                    </ng-select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Date From</label>
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Date To</label>
                    <input type="text" class="form-control input-sm" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary btn-sm pull-right"><i class="fa fa-send"></i>&nbsp;View Report</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!--report content here-->
            <!--<div class="report-content"></div>-->
            <div style="width: 300px; margin-bottom: 20px;">
            <h3>Select multiple cities</h3>
            
            <pre>{{itemsToString(value)}}</pre>
            <div>
                
            </div>
            </div>
        </div>
    </div>
</div>
