<div class="col-md-12">
    <form [formGroup]="skillsetFrm" (ngSubmit)="onSubmit(skillsetFrm.value)">
        <div class="row">
            <div class="col-md-12">
                <h3>Skillset</h3>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="profile-content">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-8">
                            <!--locked field-->
                            <input 
                                    type="text" 
                                    class="form-control" 
                                    [readonly]="true"
                                    [formControl]="skillsetFrm.get('UserName')"
                                    [(ngModel)]="associate.UserName" />
                            <br />
                            {{user.user_last_name + " rico"}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Current Department</label>
                        <div class="col-md-8">
                            <select 
                                    class="form-control"
                                    [formControl]="skillsetFrm.get('Department')"
                                    [(ngModel)]="associate.DepartmentID">
                                <option *ngFor="let dept of departments" [ngValue]="dept.DepartmentID">{{dept.DepartmentDescr}}</option>
                            </select>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Location</label>
                        <div class="col-md-8">
                            <select 
                                    class="form-control"
                                    [formControl]="skillsetFrm.get('Location')"
                                    [(ngModel)]="associate.LocationID">
                                <option *ngFor="let loc of locations" [ngValue]="loc.LocationID">{{loc.LocationDescr}}</option>
                            </select>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">VPN Capable</label>
                        <div class="col-md-8">
                            <label class="switch">
                                <input 
                                        class="fieldSelection" 
                                        type="checkbox" 
                                        [formControl]="skillsetFrm.get('VPN')"
                                        [(ngModel)]="associate.VPN"/>
                                <div class="slider round"></div>
                            </label>
                            <br />
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Best Phone Number to be Reached</label>
                        <div class="col-md-8">
                            <input 
                                    type="text" 
                                    class="form-control" 
                                    [formControl]="skillsetFrm.get('PhoneNumber')"
                                    [(ngModel)]="associate.PhoneNumber" 
                                    maxlength="20"/>
                            <br />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">Last Updated</label>
                        <div class="col-md-8">
                            <!--auto generated-->
                            <input 
                                    type="text" 
                                    class="form-control"
                                    [readonly]="true"
                                    [formControl]="skillsetFrm.get('UpdatedOn')"
                                    [(ngModel)]="associate.UpdatedOn" />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--
        <div class="row">
            <div class="dep-skillset">
                <department></department>
                department skillsets component here
            </div>
        </div>
        -->

        <nav class="navbar navbar-fixed-bottom save-navbar">
            <div class="container-fluid">
                <div class="navbar-form navbar-right">
                    <button 
                            type="submit" 
                            class="btn btn-primary btn-sm pull-right"
                            [disabled]="!skillsetFrm.valid" >
                        <i class="fa fa-save"></i>&nbsp;Update 
                    </button>
                </div>
            </div>
        </nav>
    </form>
</div>