<div class="tab-content">
    <div id="dep_skill_default" class="tab-pane fade in active">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="control-label col-md-3">Department</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" [(ngModel)]="selectedDepartmentID">
                                <option *ngFor="let x of departments" [value]="x.DepartmentID"> {{x.DepartmentDescr}} </option>
                            </select>
                            <br />
                        </div>
                        <div class="col-md-2">
                            <a (click)="getSkillSets(selectedDepartmentID)" class="btn btn-primary btn-sm">
                                <i class="fa fa-search"></i>
                            </a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover input-sm">
                        <thead>
                            <tr>
                                <th class="col-md-1"><input id="checkall" type="checkbox" class="css-checkbox med"><label for="checkall" class="css-label med elegant"></label></th>
                                <th class="col-md-11">Skill</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of selectedSkillsets" >
                                <td><input [(ngModel)]="x.IsSelected" type="checkbox" class="css-checkbox med"><label for="skill1" class="css-label med elegant"></label></td>
                                <td>{{x.SkillsetDescr}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="save-bar">
    <!--save bar component here-->
    <save-bar [buttonMode]="0" ></save-bar>
</div>
